.version.blog /* version checker */
{
	color: #00000F;
	background-color: #8CB7AF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 48px;
}

#u15970
{
	z-index: 169;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 101px;
}

#u15967-4
{
	z-index: 157;
	width: 117px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 123px;
}

#u15972
{
	z-index: 170;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 270px;
}

#u15968-4
{
	z-index: 161;
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 292px;
}

#u15974
{
	z-index: 171;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 468px;
}

#u15969-4
{
	z-index: 165;
	width: 241px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 489px;
}

#u10302
{
	z-index: 147;
	width: 201px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1070px;
}

#u15976
{
	z-index: 172;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 22px;
}

#u15978
{
	z-index: 173;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 58px;
}

#u15980
{
	z-index: 174;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 93px;
}

#u15982
{
	z-index: 175;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 128px;
}

#u15984
{
	z-index: 176;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 163px;
}

#u10295,#u10295-bw
{
	z-index: 146;
	min-height: 30px;
}

#u15966
{
	z-index: 108;
	height: 85px;
}

#u15966-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 108;
	top: 30px;
}

#u10754
{
	z-index: 148;
	width: 203px;
	top: 57px;
	left: 0px;
}

#u10310-4
{
	z-index: 153;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
}

#u10251-4
{
	z-index: 149;
	width: 158px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 45px;
}

#menuu10252
{
	z-index: 109;
	width: 718px;
	top: 63px;
	left: 482px;
}

#u10267
{
	width: 104px;
	min-height: 25px;
	margin-right: -10000px;
}

#u10268
{
	width: 104px;
	padding-bottom: 9px;
}

#u10268:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u10268.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u10271-4
{
	width: 45px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10268:hover #u10271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u10268.MuseMenuActive #u10271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u10288
{
	width: 135px;
	min-height: 25px;
	margin-right: -10000px;
	left: 106px;
}

#u10289
{
	width: 135px;
	padding-bottom: 9px;
}

#u10289:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u10289.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u10291-4
{
	width: 76px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10289:hover #u10291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u10289.MuseMenuActive #u10291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u10274
{
	width: 131px;
	min-height: 25px;
	margin-right: -10000px;
	left: 243px;
}

#u10277
{
	width: 131px;
	padding-bottom: 9px;
}

#u10277:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u10277.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u10278-4
{
	width: 72px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10277:hover #u10278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u10277.MuseMenuActive #u10278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u10253
{
	width: 110px;
	min-height: 25px;
	margin-right: -10000px;
	left: 376px;
}

#u10254
{
	width: 110px;
	padding-bottom: 9px;
}

#u10254:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u10254.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u10256-4
{
	width: 51px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10254:hover #u10256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u10254.MuseMenuActive #u10256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u10260
{
	width: 99px;
	min-height: 25px;
	margin-right: -10000px;
	left: 488px;
}

#u10263
{
	width: 99px;
	padding-bottom: 9px;
}

#u10263:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u10263.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u10266-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10263:hover #u10266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u10263.MuseMenuActive #u10266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u10281
{
	width: 129px;
	min-height: 25px;
	margin-right: -10000px;
	left: 589px;
}

#u10284
{
	width: 129px;
	padding-bottom: 9px;
}

#u10284:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u10284.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u10287-4
{
	width: 71px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10284:hover #u10287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u10284.MuseMenuActive #u10287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#pu11219
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 84px;
}

#u11219
{
	z-index: 15;
	min-height: 78px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #F4F4F4;
	border-width: 1px 0px;
}

#u11219_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#u11218
{
	z-index: 16;
	width: 114px;
	border-width: 1px;
	border-style: solid;
	border-color: #80C5E2;
	background-color: #80C5E2;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 100px;
}

#u11192-4
{
	z-index: 17;
	width: 133px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: -1px;
}

#u11219-bw
{
	z-index: 15;
	min-height: 78px;
	margin-top: 1px;
}

#u11202
{
	z-index: 21;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#pu11256
{
	width: 0.01px;
	margin-top: 80px;
}

#u11256
{
	z-index: 23;
	width: 570px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u11256_img
{
	margin-left: -19px;
	margin-right: -7px;
}

#u11287
{
	z-index: 27;
	width: 570px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u11287_img
{
	margin-left: 1px;
	margin-top: -17px;
	margin-bottom: -7px;
}

#u11258-4
{
	z-index: 31;
	width: 568px;
	min-height: 21px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 14px;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u11286-4
{
	z-index: 39;
	width: 568px;
	min-height: 21px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 14px;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u11260-6
{
	z-index: 47;
	width: 568px;
	min-height: 21px;
	background-color: transparent;
	color: #737373;
	line-height: 14px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u11285-6
{
	z-index: 59;
	width: 568px;
	min-height: 21px;
	background-color: transparent;
	color: #737373;
	line-height: 14px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u11262-4
{
	z-index: 71;
	width: 570px;
	min-height: 65px;
	background-color: transparent;
	line-height: 26px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u11282-4
{
	z-index: 79;
	width: 570px;
	min-height: 65px;
	background-color: transparent;
	line-height: 26px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#buttonu11264
{
	z-index: 87;
	width: 125px;
	border-style: solid;
	border-color: #80C5E2;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 4px 0px 0px;
}

#u11265-4
{
	z-index: 88;
	width: 122px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 3px;
}

#buttonu11264:hover #u11265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 12px -10000px 0px 0px;
}

#buttonu11264:hover #u11265-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu11283
{
	z-index: 97;
	width: 125px;
	border-style: solid;
	border-color: #80C5E2;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
	border-width: 0px 4px 0px 0px;
}

#u11284-4
{
	z-index: 98;
	width: 122px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 3px;
}

#buttonu11264.ButtonSelected #u11265-4,#buttonu11283:hover #u11284-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 12px -10000px 0px 0px;
}

#buttonu11283:hover #u11284-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu13464
{
	width: 0.01px;
	margin-top: 79px;
}

#u13464
{
	z-index: 25;
	width: 570px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13464_img
{
	margin: -7px -4px -7px -2px;
}

#u13459
{
	z-index: 29;
	width: 570px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u11256_clip,#u11287_clip,#u13464_clip,#u13459_clip
{
	overflow: hidden;
	width: 570px;
	height: 310px;
}

#u13459_img
{
	margin-top: -4px;
	margin-right: -1px;
	margin-bottom: -7px;
}

#pu11258-4,#pu13463-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 19px;
}

#u13463-4
{
	z-index: 35;
	width: 568px;
	min-height: 21px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 14px;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u13462-4
{
	z-index: 43;
	width: 568px;
	min-height: 21px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 14px;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#pu11260-6,#pu13467-6
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 8px;
}

#u13467-6
{
	z-index: 53;
	width: 568px;
	min-height: 21px;
	background-color: transparent;
	color: #737373;
	line-height: 14px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u13468-6
{
	z-index: 65;
	width: 568px;
	min-height: 21px;
	background-color: transparent;
	color: #737373;
	line-height: 14px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u11260-2,#u11285-2,#u13467-2,#u13468-2
{
	color: #80C5E2;
}

#u13470-4
{
	z-index: 75;
	width: 570px;
	min-height: 65px;
	background-color: transparent;
	line-height: 26px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u13469-4
{
	z-index: 83;
	width: 570px;
	min-height: 65px;
	background-color: transparent;
	line-height: 26px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#pu11262-4,#pbuttonu11264,#pu13470-4,#pbuttonu13473
{
	width: 0.01px;
	margin-top: 15px;
}

#buttonu13473
{
	z-index: 92;
	width: 125px;
	border-style: solid;
	border-color: #80C5E2;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 4px 0px 0px;
}

#u13474-4
{
	z-index: 93;
	width: 122px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 3px;
}

#buttonu11283.ButtonSelected #u11284-4,#buttonu13473:hover #u13474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 12px -10000px 0px 0px;
}

#buttonu13473:hover #u13474-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu13471
{
	z-index: 102;
	width: 125px;
	border-style: solid;
	border-color: #80C5E2;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
	border-width: 0px 4px 0px 0px;
}

#buttonu11264:hover,#buttonu11283:hover,#buttonu13473:hover,#buttonu13471:hover
{
	border-color: #000000;
	background-color: #80C5E2;
	width: 125px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13472-4
{
	z-index: 103;
	width: 122px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 3px;
}

#buttonu13473.ButtonSelected #u13474-4,#buttonu13471:hover #u13472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 12px -10000px 0px 0px;
}

#buttonu13471.ButtonSelected #u13472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 12px -10000px 0px 0px;
}

#buttonu13471:hover #u13472-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u13457
{
	z-index: 107;
	height: 24px;
}

.ie #u13457
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13457-bw
{
	z-index: 107;
	margin-top: 56px;
	height: 24px;
}

#u15994
{
	z-index: 2;
	min-height: 127px;
	padding-bottom: 18px;
}

#u10295_align_to_page,#u15994_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	left: -100px;
}

#ppbuttonu15995
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 517px;
}

#pbuttonu15995
{
	width: 0.01px;
	margin-left: 41px;
}

#buttonu15995
{
	z-index: 7;
	width: 38px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#buttonu15995:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15996
{
	z-index: 8;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#buttonu15998
{
	z-index: 9;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 72px;
}

#buttonu15995.ButtonSelected,#buttonu15998:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15999
{
	z-index: 10;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu16001
{
	z-index: 11;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 143px;
}

#buttonu15998.ButtonSelected,#buttonu16001:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16002
{
	z-index: 12;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu16004
{
	z-index: 13;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 215px;
}

#buttonu16001.ButtonSelected,#buttonu16004:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu16004.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16005
{
	z-index: 14;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u10312-4
{
	z-index: 3;
	width: 335px;
	min-height: 21px;
	margin-top: 32px;
}

#buttonu11180
{
	z-index: 177;
	width: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 1228px;
}

#buttonu11180.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
}

#u11181-3
{
	z-index: 178;
	width: 40px;
	min-height: 19px;
	line-height: 24px;
	color: #000000;
	font-size: 20px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -2px;
	background: transparent url("../images/move%20up.png") no-repeat center center;
}

#buttonu11180.ButtonSelected #u11181-3
{
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 1px -10000px 0px 0px;
}

#u11181
{
	padding-right: 1px;
	padding-top: 6px;
}

#u15994-bw
{
	z-index: 2;
	min-height: 127px;
}

body
{
	position: relative;
	min-width: 1170px;
}

#page .verticalspacer
{
	clear: both;
}

