.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u15967-4,#u15968-4,#u15969-4,#u10310-4,#u10251-4,#u10271-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10291-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10278-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10256-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10266-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10287-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10312-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10915-2
{
	font-family: open-sans-n4, sans-serif;
}

#u10915-3
{
	font-family: alice-n4, serif;
}

#u10916-4
{
	font-family: open-sans-i4, sans-serif;
}

#u10831-4,#u10914-4,#u16031-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16032-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16028-3
{
	font-family: '__FontAwesome_5';
}

#u16034-3
{
	font-family: '__FontAwesome_5';
}

#u16029-3
{
	font-family: '__FontAwesome_5';
}

#u10922-4,#u16040-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16041-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16038-3
{
	font-family: '__FontAwesome_5';
}

#u16042-3
{
	font-family: '__FontAwesome_5';
}

#u16039-3
{
	font-family: '__FontAwesome_5';
}

#u16050-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16046-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16047-3
{
	font-family: '__FontAwesome_5';
}

#u16049-3
{
	font-family: '__FontAwesome_5';
}

#u16048-3
{
	font-family: '__FontAwesome_5';
}

#u13442-4
{
	font-family: montserrat-n4, sans-serif;
}

