.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u15967-4,#u15968-4,#u15969-4,#u10310-4,#u10251-4,#u10271-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10291-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10278-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10256-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10266-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10287-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10312-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11422-4,#u11462-4,#u11464-6
{
	font-family: montserrat-n4, sans-serif;
}

#u11463-5
{
	font-family: open-sans-i4, sans-serif;
}

#u11463-2,#u11463-3,#u11463-6,#u11463-8
{
	font-family: open-sans-n4, sans-serif;
}

