.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u15967-4,#u15968-4,#u15969-4,#u10310-4,#u10251-4,#u10271-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10291-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10278-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10256-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10266-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10287-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10312-4
{
	font-family: montserrat-n4, sans-serif;
}

#u8287-4
{
	font-family: pt-mono-n4, monospace;
}

#u8278-4
{
	font-family: pt-mono-n4, monospace;
}

#u6093-3,#u9954-3
{
	font-family: alice-n4, serif;
}

#u16018-3,#u16020-3,#u16026-3
{
	font-family: '__FontAwesome_5';
}

#u14020-4,#u16396-4,#u6092-4,#u9607-6,#u9650-4,#u9952-4,#u10007-4,#u10008-4,#u10009-4,#u10066-4,#u10086-4,#u10087-6,#u10094-4
{
	font-family: montserrat-n4, sans-serif;
}

#u6093-2,#u9954-2,#u10010-4,#u10011-4,#u10012-4,#u10089-4,#u10132-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10130-4,#u10131-6,#u10134-4
{
	font-family: montserrat-n4, sans-serif;
}

#u8711-4,#u13262-4,#u13258-4
{
	font-family: open-sans-i4, sans-serif;
}

#u13250-4,#u13261-4,#u13256-4,#u13363-4
{
	font-family: montserrat-n4, sans-serif;
}

