#u10295
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u15970,#u15972,#u15974
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u15967-4,#u15968-4,#u15969-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10302
{
	border-style: none;
	border-color: transparent;
	background-color: #80C5E2;
	position: relative;
}

#u15976,#u15978,#u15980,#u15982,#u15984
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	line-height: 17px;
	position: relative;
}

#u15966
{
	-pie-box-shadow: 2px 2px 3px #EAEAEA;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.08);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u10310-4
{
	background-color: #000000;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10251-4
{
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	text-align: left;
	letter-spacing: 8px;
	font-size: 19px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10754,#menuu10252
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u10267,#u10268
{
	background-color: transparent;
	position: relative;
}

#u10268:hover
{
	border-color: #000000;
}

#u10271-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 13px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10268:hover #u10271-4 p
{
	color: #80C5E2;
	visibility: inherit;
}

#u10288,#u10289
{
	background-color: transparent;
	position: relative;
}

#u10289:hover
{
	border-color: #000000;
}

#u10291-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 13px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10268.MuseMenuActive #u10271-4 p,#u10289:hover #u10291-4 p
{
	color: #80C5E2;
	visibility: inherit;
}

#u10274,#u10277
{
	background-color: transparent;
	position: relative;
}

#u10277:hover
{
	border-color: #000000;
}

#u10278-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 13px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10289.MuseMenuActive #u10291-4 p,#u10277:hover #u10278-4 p
{
	color: #80C5E2;
	visibility: inherit;
}

#u10253,#u10254
{
	background-color: transparent;
	position: relative;
}

#u10254:hover
{
	border-color: #000000;
}

#u10256-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 13px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10277.MuseMenuActive #u10278-4 p,#u10254:hover #u10256-4 p
{
	color: #80C5E2;
	visibility: inherit;
}

#u10260,#u10263
{
	background-color: transparent;
	position: relative;
}

#u10263:hover
{
	border-color: #000000;
}

#u10266-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 13px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10254.MuseMenuActive #u10256-4 p,#u10263:hover #u10266-4 p
{
	color: #80C5E2;
	visibility: inherit;
}

#u10281,#u10284
{
	background-color: transparent;
	position: relative;
}

#u10284:hover
{
	border-color: #000000;
}

#u10268.MuseMenuActive,#u10289.MuseMenuActive,#u10277.MuseMenuActive,#u10254.MuseMenuActive,#u10263.MuseMenuActive,#u10284.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
}

#u10287-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 13px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10263.MuseMenuActive #u10266-4 p,#u10284:hover #u10287-4 p
{
	color: #80C5E2;
	visibility: inherit;
}

#u10284.MuseMenuActive #u10287-4 p
{
	color: #80C5E2;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u15994
{
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	border-width: 1px 0px 0px;
}

#u10295_align_to_page,#u15994_align_to_page
{
	position: relative;
}

#buttonu15995
{
	border-color: #DDDDDD;
	background-color: #CFCFCF;
	border-radius: 100px;
	position: relative;
}

#buttonu15995:hover
{
	border-color: #000000;
	background-color: #000000;
}

#buttonu15998
{
	border-color: #DDDDDD;
	background-color: #CFCFCF;
	border-radius: 100px;
	position: relative;
}

#buttonu15998:hover
{
	border-color: #000000;
	background-color: #000000;
}

#buttonu16001
{
	border-color: #DDDDDD;
	background-color: #CFCFCF;
	border-radius: 100px;
	position: relative;
}

#buttonu16001:hover
{
	border-color: #000000;
	background-color: #000000;
}

#buttonu16004
{
	border-color: #DDDDDD;
	background-color: #CFCFCF;
	border-radius: 100px;
	position: relative;
}

#buttonu16004:hover
{
	border-color: #000000;
	background-color: #000000;
}

#buttonu15995.ButtonSelected,#buttonu15998.ButtonSelected,#buttonu16001.ButtonSelected,#buttonu16004.ButtonSelected
{
	border-color: #DDDDDD;
	background-color: #CFCFCF;
}

#u15996,#u15999,#u16002,#u16005
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	position: relative;
}

#u10312-4
{
	background-color: transparent;
	color: #000000;
	line-height: 13px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 11px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

