.version.projects /* version checker */
{
	color: #000005;
	background-color: #CF4E96;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 48px;
}

#u15970
{
	z-index: 177;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 101px;
}

#u15967-4
{
	z-index: 165;
	width: 117px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 123px;
}

#u15972
{
	z-index: 178;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 270px;
}

#u15968-4
{
	z-index: 169;
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 292px;
}

#u15974
{
	z-index: 179;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 468px;
}

#u15969-4
{
	z-index: 173;
	width: 241px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 489px;
}

#u10302
{
	z-index: 155;
	width: 201px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1070px;
}

#u15976
{
	z-index: 180;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 22px;
}

#u15978
{
	z-index: 181;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 58px;
}

#u15980
{
	z-index: 182;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 93px;
}

#u15982
{
	z-index: 183;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 128px;
}

#u15984
{
	z-index: 184;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 163px;
}

#u10295,#u10295-bw
{
	z-index: 154;
	min-height: 30px;
}

#u15966
{
	z-index: 116;
	height: 85px;
}

#u15966-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 116;
	top: 30px;
}

#u10754
{
	z-index: 156;
	width: 203px;
	top: 57px;
	left: 0px;
}

#u10310-4
{
	z-index: 161;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
}

#u10251-4
{
	z-index: 157;
	width: 158px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 45px;
}

#menuu10252
{
	z-index: 117;
	width: 718px;
	top: 63px;
	left: 482px;
}

#u10267
{
	width: 104px;
	min-height: 25px;
	margin-right: -10000px;
}

#u10268
{
	width: 104px;
	padding-bottom: 9px;
}

#u10268:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u10268.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u10271-4
{
	width: 45px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10268:hover #u10271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u10268.MuseMenuActive #u10271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u10288
{
	width: 135px;
	min-height: 25px;
	margin-right: -10000px;
	left: 106px;
}

#u10289
{
	width: 135px;
	padding-bottom: 9px;
}

#u10289:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u10289.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u10291-4
{
	width: 76px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10289:hover #u10291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u10289.MuseMenuActive #u10291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u10274
{
	width: 131px;
	min-height: 25px;
	margin-right: -10000px;
	left: 243px;
}

#u10277
{
	width: 131px;
	padding-bottom: 9px;
}

#u10277:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u10277.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u10278-4
{
	width: 72px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10277:hover #u10278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u10277.MuseMenuActive #u10278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u10253
{
	width: 110px;
	min-height: 25px;
	margin-right: -10000px;
	left: 376px;
}

#u10254
{
	width: 110px;
	padding-bottom: 9px;
}

#u10254:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u10254.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u10256-4
{
	width: 51px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10254:hover #u10256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u10254.MuseMenuActive #u10256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u10260
{
	width: 99px;
	min-height: 25px;
	margin-right: -10000px;
	left: 488px;
}

#u10263
{
	width: 99px;
	padding-bottom: 9px;
}

#u10263:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u10263.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u10266-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10263:hover #u10266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u10263.MuseMenuActive #u10266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u10281
{
	width: 129px;
	min-height: 25px;
	margin-right: -10000px;
	left: 589px;
}

#u10284
{
	width: 129px;
	padding-bottom: 9px;
}

#u10284:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u10284.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u10287-4
{
	width: 71px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10284:hover #u10287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u10284.MuseMenuActive #u10287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#pu10460
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 84px;
}

#u10460
{
	z-index: 15;
	min-height: 78px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #F4F4F4;
	border-width: 1px 0px;
}

#u10460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#u10552
{
	z-index: 55;
	width: 168px;
	border-width: 1px;
	border-style: solid;
	border-color: #80C5E2;
	background-color: #80C5E2;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 100px;
}

#u10372-4
{
	z-index: 56;
	width: 187px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: -1px;
}

#u10460-bw
{
	z-index: 15;
	min-height: 78px;
	margin-top: 1px;
}

#u10776
{
	z-index: 114;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#slideshowu10381
{
	z-index: 16;
	width: 0.01px;
	height: 870px;
	margin-top: 63px;
	position: relative;
}

#u10382
{
	position: absolute;
	width: 697px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 766px;
	left: 238px;
	-pie-background: rgba(0,0,0,0.9);
}

#u10382popup
{
	z-index: 17;
}

#u15067
{
	z-index: 18;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15067_img
{
	padding-top: 28px;
	padding-bottom: 29px;
}

#u16518
{
	z-index: 20;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16527
{
	z-index: 22;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16527_img
{
	padding-top: 24px;
	padding-bottom: 23px;
}

#u16536
{
	z-index: 24;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16536_img
{
	padding-left: 14px;
	padding-right: 14px;
}

#u16545
{
	z-index: 26;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16545_img
{
	padding-left: 4px;
	padding-right: 5px;
}

#u16554
{
	z-index: 28;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16563
{
	z-index: 30;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16554_img,#u16563_img
{
	padding-left: 4px;
	padding-right: 4px;
}

#u16572
{
	z-index: 32;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16518_img,#u16572_img
{
	padding-top: 31px;
	padding-bottom: 32px;
}

#u16581
{
	z-index: 34;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16581_img
{
	padding-left: 10px;
	padding-right: 11px;
}

#u10403
{
	position: absolute;
	width: 1170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u10403popup
{
	z-index: 36;
}

#u15070
{
	z-index: 37;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u16521
{
	z-index: 39;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u16530
{
	z-index: 41;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#u16530_img
{
	margin-left: -45px;
	margin-right: -46px;
}

#u16539
{
	z-index: 43;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
}

#u16539_img
{
	margin-left: -11px;
	margin-right: -12px;
}

#u16548
{
	z-index: 45;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 400px;
}

#u16548_img
{
	margin-left: -17px;
	margin-right: -17px;
}

#u16557
{
	z-index: 47;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 800px;
}

#u16566
{
	z-index: 49;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
}

#u16557_img,#u16566_img
{
	margin-left: -18px;
	margin-right: -17px;
}

#u16575
{
	z-index: 51;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 400px;
}

#u16584
{
	z-index: 53;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 800px;
}

#u16530_clip,#u16539_clip,#u16548_clip,#u16557_clip,#u16566_clip,#u16584_clip
{
	overflow: hidden;
	width: 370px;
	height: 270px;
}

#u16584_img
{
	margin-left: -14px;
	margin-right: -13px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu10586
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 80px;
}

#u10586
{
	z-index: 60;
	min-height: 407.8467946483729px;
	background-color: #F4F4F4;
	padding-bottom: 0px;
}

#u10586_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 98px;
}

#u10591-4
{
	z-index: 61;
	width: 570px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	left: 100px;
	position: relative;
}

#u10593
{
	z-index: 65;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	left: 100px;
	margin-top: 6px;
	position: relative;
}

#pu10597-4
{
	width: 0.01px;
	left: 99px;
	margin-top: 34px;
	position: relative;
}

#u10597-4
{
	z-index: 98;
	width: 50px;
	min-height: 50px;
	background-color: #80C5E2;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10595-4
{
	z-index: 66;
	width: 490px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #80C5E2;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u10598-4
{
	z-index: 106;
	width: 50px;
	min-height: 50px;
	background-color: #80C5E2;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 601px;
}

#u10599-4
{
	z-index: 74;
	width: 490px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #80C5E2;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 681px;
}

#pu10607-4
{
	width: 0.01px;
	left: 99px;
	margin-top: 81px;
	position: relative;
}

#u10607-4
{
	z-index: 102;
	width: 50px;
	min-height: 50px;
	background-color: #80C5E2;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10608-4
{
	z-index: 70;
	width: 490px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #80C5E2;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u10610-4
{
	z-index: 110;
	width: 50px;
	min-height: 50px;
	background-color: #80C5E2;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 601px;
}

#u10611-4
{
	z-index: 78;
	width: 490px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #80C5E2;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 681px;
}

#u10586-bw
{
	z-index: 60;
	min-height: 407.8467946483729px;
}

#u10596-4
{
	z-index: 82;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 179px;
}

#u10609-4
{
	z-index: 86;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 179px;
}

#u10600-4
{
	z-index: 90;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 780px;
}

#u10612-4
{
	z-index: 94;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 780px;
}

#u15994
{
	z-index: 2;
	min-height: 127px;
	padding-bottom: 18px;
}

#u10295_align_to_page,#u15994_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	left: -100px;
}

#ppbuttonu15995
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 517px;
}

#pbuttonu15995
{
	width: 0.01px;
	margin-left: 41px;
}

#buttonu15995
{
	z-index: 7;
	width: 38px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#buttonu15995:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15996
{
	z-index: 8;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#buttonu15998
{
	z-index: 9;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 72px;
}

#buttonu15995.ButtonSelected,#buttonu15998:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15999
{
	z-index: 10;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu16001
{
	z-index: 11;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 143px;
}

#buttonu15998.ButtonSelected,#buttonu16001:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16002
{
	z-index: 12;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu16004
{
	z-index: 13;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 215px;
}

#buttonu16001.ButtonSelected,#buttonu16004:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu16004.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16005
{
	z-index: 14;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u10312-4
{
	z-index: 3;
	width: 335px;
	min-height: 21px;
	margin-top: 32px;
}

#buttonu10327
{
	z-index: 185;
	width: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 1228px;
}

#buttonu10327.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
}

#u10328-3
{
	z-index: 186;
	width: 40px;
	min-height: 19px;
	line-height: 24px;
	color: #000000;
	font-size: 20px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -2px;
	background: transparent url("../images/move%20up.png") no-repeat center center;
}

#buttonu10327.ButtonSelected #u10328-3
{
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 1px -10000px 0px 0px;
}

#u10328
{
	padding-top: 6px;
}

#u15994-bw
{
	z-index: 2;
	min-height: 127px;
}

body
{
	position: relative;
	min-width: 1170px;
}

#page .verticalspacer
{
	clear: both;
}

