.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u12453-3
{
	font-family: abril-fatface-n4, serif;
}

#u12436-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12423-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12431-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12445-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12449-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12417-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12454-4,#u12455-4,#u16194-4,#u16195-4,#u12472-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13198-4,#u13234-4,#u13236-6
{
	font-family: montserrat-n4, sans-serif;
}

#u13235-5
{
	font-family: open-sans-i4, sans-serif;
}

#u13235-2,#u13235-3,#u13235-6,#u13235-8
{
	font-family: open-sans-n4, sans-serif;
}

