.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u12453-3
{
	font-family: abril-fatface-n4, serif;
}

#u12436-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12423-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12431-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12445-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12449-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12417-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12454-4,#u12455-4,#u16194-4,#u16195-4,#u12472-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12523-4
{
	font-family: pt-mono-n4, monospace;
}

#u12520-4
{
	font-family: pt-mono-n4, monospace;
}

#u12550-3,#u12601-3
{
	font-family: alice-n4, serif;
}

#u16244-3,#u16246-3,#u16250-3
{
	font-family: '__FontAwesome_5';
}

#u15781-4,#u16835-4,#u12549-4,#u12557-4,#u12600-4,#u12603-4,#u12604-4,#u12605-4,#u12613-4,#u12619-4,#u12621-6,#u12626-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12550-2,#u12601-2,#u12606-4,#u12607-4,#u12608-4,#u12623-4,#u12624-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12620-4,#u12622-6,#u12628-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12551-4,#u13582-4,#u13584-4
{
	font-family: open-sans-i4, sans-serif;
}

#u13567-4,#u13580-4,#u13585-4,#u13588-4
{
	font-family: montserrat-n4, sans-serif;
}

