.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u11532-4,#u11531-4,#u11506-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11501-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11513-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11522-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11528-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11493-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16121-4,#u16122-4,#u11542-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11568-4
{
	font-family: pt-mono-n4, monospace;
}

#u11569-4
{
	font-family: pt-mono-n4, monospace;
}

#u11589-3,#u11646-3
{
	font-family: alice-n4, serif;
}

#u16667-3,#u16671-3,#u16677-3
{
	font-family: '__FontAwesome_5';
}

#u11575-4,#u16621-4,#u11588-4,#u11596-4,#u11645-4,#u11648-4,#u11649-4,#u11650-4,#u11659-4,#u11663-4,#u11664-6,#u11667-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11589-2,#u11646-2,#u11651-4,#u11652-4,#u11653-4,#u11665-4,#u11674-4
{
	font-family: open-sans-n4, sans-serif;
}

#u11676-4,#u11675-6,#u11670-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11590-4,#u13502-4,#u13504-4
{
	font-family: open-sans-i4, sans-serif;
}

#u13487-4,#u13501-4,#u13506-4,#u13510-4
{
	font-family: montserrat-n4, sans-serif;
}

