.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u11532-4,#u11531-4,#u11506-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11501-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11513-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11522-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11528-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11493-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16121-4,#u16122-4,#u11542-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12354-4,#u12373-4,#u12375-6
{
	font-family: montserrat-n4, sans-serif;
}

#u12374-5
{
	font-family: open-sans-i4, sans-serif;
}

#u12374-2,#u12374-3,#u12374-6,#u12374-8
{
	font-family: open-sans-n4, sans-serif;
}

