.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u11532-4,#u11531-4,#u11506-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11501-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11513-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11522-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11528-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11493-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16121-4,#u16122-4,#u11542-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12073-2
{
	font-family: open-sans-n4, sans-serif;
}

#u12073-3
{
	font-family: alice-n4, serif;
}

#u12074-4
{
	font-family: open-sans-i4, sans-serif;
}

#u12023-4,#u12072-4,#u12079-4,#u16161-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16160-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16164-3
{
	font-family: '__FontAwesome_5';
}

#u16163-3
{
	font-family: '__FontAwesome_5';
}

#u16166-3
{
	font-family: '__FontAwesome_5';
}

#u16170-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16168-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16172-3
{
	font-family: '__FontAwesome_5';
}

#u16173-3
{
	font-family: '__FontAwesome_5';
}

#u16174-3
{
	font-family: '__FontAwesome_5';
}

#u16181-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16178-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16182-3
{
	font-family: '__FontAwesome_5';
}

#u16177-3
{
	font-family: '__FontAwesome_5';
}

#u16176-3
{
	font-family: '__FontAwesome_5';
}

#u13527-4
{
	font-family: montserrat-n4, sans-serif;
}

