.version.projects /* version checker */
{
	color: #0000E5;
	background-color: #7B9CB5;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu16120
{
	width: 0.01px;
}

#u16120
{
	z-index: 62;
	min-height: 82px;
	padding-bottom: 25px;
}

#u11532-4
{
	z-index: 104;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 25px;
}

#u11531-4
{
	z-index: 100;
	width: 123px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 60px;
}

#menuu11487
{
	z-index: 63;
	width: 540px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 221px;
}

#u11502
{
	width: 77px;
	min-height: 25px;
	margin-right: -10000px;
}

#u11503
{
	width: 77px;
	padding-bottom: 12px;
}

#u11503:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u11503.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u11506-4
{
	width: 39px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11503:hover #u11506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u11503.MuseMenuActive #u11506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u11495
{
	width: 103px;
	min-height: 25px;
	margin-right: -10000px;
	left: 79px;
}

#u11498
{
	width: 103px;
	padding-bottom: 12px;
}

#u11498:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u11498.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u11501-4
{
	width: 65px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11498:hover #u11501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u11498.MuseMenuActive #u11501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u11509
{
	width: 99px;
	min-height: 25px;
	margin-right: -10000px;
	left: 184px;
}

#u11512
{
	width: 99px;
	padding-bottom: 12px;
}

#u11512:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u11512.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u11513-4
{
	width: 61px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11512:hover #u11513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u11512.MuseMenuActive #u11513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u11516
{
	width: 81px;
	min-height: 25px;
	margin-right: -10000px;
	left: 285px;
}

#u11519
{
	width: 81px;
	padding-bottom: 12px;
}

#u11519:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u11519.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u11522-4
{
	width: 43px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11519:hover #u11522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u11519.MuseMenuActive #u11522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u11523
{
	width: 72px;
	min-height: 25px;
	margin-right: -10000px;
	left: 368px;
}

#u11526
{
	width: 72px;
	padding-bottom: 12px;
}

#u11526:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u11526.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u11528-4
{
	width: 34px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11526:hover #u11528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u11526.MuseMenuActive #u11528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u11488
{
	width: 98px;
	min-height: 25px;
	margin-right: -10000px;
	left: 442px;
}

#u11491
{
	width: 98px;
	padding-bottom: 12px;
}

#u11491:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u11491.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u11493-4
{
	width: 60px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11491:hover #u11493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u11491.MuseMenuActive #u11493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u16120-bw
{
	z-index: 62;
	min-height: 82px;
}

#u16123
{
	z-index: 118;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 25px;
}

#u16121-4
{
	z-index: 110;
	width: 117px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 47px;
}

#u16125
{
	z-index: 119;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 199px;
}

#u16122-4
{
	z-index: 114;
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 221px;
}

#u11534
{
	z-index: 109;
	width: 195px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 548px;
}

#u16127
{
	z-index: 120;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 20px;
}

#u16129
{
	z-index: 121;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 55px;
}

#u16131
{
	z-index: 122;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 91px;
}

#u16133
{
	z-index: 123;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 126px;
}

#u16135
{
	z-index: 124;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 161px;
}

#u11533,#u11533-bw
{
	z-index: 108;
	min-height: 30px;
}

#pu11887
{
	width: 0.01px;
	margin-top: -1px;
}

#u11887
{
	z-index: 54;
	min-height: 78px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #F4F4F4;
	border-width: 1px 0px;
}

#u11888
{
	z-index: 55;
	width: 168px;
	border-width: 1px;
	border-style: solid;
	border-color: #80C5E2;
	background-color: #80C5E2;
	padding-bottom: 28px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 24px;
}

#u11889-4
{
	z-index: 56;
	width: 187px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: -1px;
}

#u11887-bw
{
	z-index: 54;
	min-height: 78px;
}

#u11890
{
	z-index: 60;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#slideshowu11813
{
	z-index: 15;
	width: 0.01px;
	height: 675px;
	margin-left: 24px;
	margin-top: 57px;
	position: relative;
}

#u11847
{
	position: absolute;
	width: 697px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 519px;
	left: -45px;
	-pie-background: rgba(0,0,0,0.9);
}

#u11847popup
{
	z-index: 16;
}

#u11862
{
	z-index: 17;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11862_img
{
	padding-left: 14px;
	padding-right: 14px;
}

#u16723
{
	z-index: 19;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16723_img
{
	padding-left: 4px;
	padding-right: 5px;
}

#u16732
{
	z-index: 21;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16741
{
	z-index: 23;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16741_img
{
	padding-top: 28px;
	padding-bottom: 29px;
}

#u16750
{
	z-index: 25;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16732_img,#u16750_img
{
	padding-left: 4px;
	padding-right: 4px;
}

#u16759
{
	z-index: 27;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16768
{
	z-index: 29;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16759_img,#u16768_img
{
	padding-top: 31px;
	padding-bottom: 32px;
}

#u16777
{
	z-index: 31;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16777_img
{
	padding-top: 24px;
	padding-bottom: 23px;
}

#u16786
{
	z-index: 33;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16786_img
{
	padding-left: 10px;
	padding-right: 11px;
}

#u11816
{
	position: absolute;
	width: 720px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 95px;
}

#u11816popup
{
	z-index: 35;
}

#u11819
{
	z-index: 36;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u11819_img
{
	margin-left: -18px;
	margin-right: -18px;
}

#u16726
{
	z-index: 38;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

#u16735
{
	z-index: 40;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	left: 493px;
}

#u16744
{
	z-index: 42;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 1px;
}

#u16753
{
	z-index: 44;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 247px;
}

#u16726_img,#u16735_img,#u16753_img
{
	margin-left: -22px;
	margin-right: -22px;
}

#u16762
{
	z-index: 46;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 493px;
}

#u16771
{
	z-index: 48;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 1px;
}

#u16780
{
	z-index: 50;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 247px;
}

#u16789
{
	z-index: 52;
	width: 226px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 493px;
}

#u11819_clip,#u16726_clip,#u16735_clip,#u16753_clip,#u16789_clip
{
	overflow: hidden;
	width: 226px;
	height: 180px;
}

#u16789_img
{
	margin-left: -19px;
	margin-right: -20px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u16137
{
	z-index: 2;
	min-height: 71.60000000000036px;
	padding: 19px 215px 15.399999999999636px 218px;
}

#pbuttonu16138
{
	width: 0.01px;
	margin-left: 39px;
	position: relative;
}

#buttonu16138
{
	z-index: 7;
	width: 38px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#buttonu16138:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16139
{
	z-index: 8;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#buttonu16141
{
	z-index: 9;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 72px;
}

#buttonu16138.ButtonSelected,#buttonu16141:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16142
{
	z-index: 10;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu16144
{
	z-index: 11;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 143px;
}

#buttonu16141.ButtonSelected,#buttonu16144:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16145
{
	z-index: 12;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu16147
{
	z-index: 13;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 215px;
}

#buttonu16144.ButtonSelected,#buttonu16147:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu16147.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16148
{
	z-index: 14;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u11542-4
{
	z-index: 3;
	width: 335px;
	min-height: 21px;
	margin-top: 13px;
}

#u16137-bw
{
	z-index: 2;
	min-height: 71.60000000000036px;
	margin-top: -1px;
	margin-bottom: -1px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

